body { width: 100%; 
    background-color: rgba(174, 176, 177, 0.411);
    font-family: Arial, Helvetica, sans-serif;
margin-left: 40px;
margin-right: 40px;}
    
    p { font-size:medium;
    }
a { text-decoration: none;}
#logo { 
    height: 30px;
       display: block;
    background-color: rgb(42, 42, 80);
    

}
#orangetitle { background-color: orangered;
     text-align: center;
    margin-bottom: 20px;
height: 30px;
;}

#topbar {
     width: 100%;
     background-color: rgb(42, 42, 80);
     height: 40px;}

#navbar { background-color: rgb(68, 68, 117);
height: 30px;
padding-top: 10px;
width: 100%;}
#menu {
     width: 100%;
     list-style: none;
     display: flex;
    gap: 30px;
background-color: rgb(68, 68, 117);
color: white;
margin-top: auto; }


#orangetitle { color: white; 
font-size: smaller;
text-align: center;

}



#headholyday { background-image: url(assets/images/bg-image.png);
    background-size: cover;
width: 100%;
height: 140px;
text-align: center;
padding-top: 35px;
color: white;}

#findtheperfectgift { background-color: white;
    height: 330px;
}

#fourimages { 
    display: flex;
    justify-content: space-between;
    width: 100%;


}

#footbar { width: 100%;
    background-color:rgb(68,68,128);
  display: flex;
  justify-content: center;
  color: white;
    
}
 #finallogo { background-color: rgb(42, 42, 80);
 display: flex;
 justify-content: center;
 height: 200px;
 
 }
#amazon { height: 75px;
margin-top: auto;
margin-bottom: auto;}

.immagine { border-radius: 15px;
 width: 25%;
    margin-right: 30px;
    box-shadow: 0 4px 8px;
    height: 350
    
}

.blockimage { width: 100%;
margin-top: 30px;}

.specialp { text-align: center;}